body {
  background: #fafafa;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hero-unit {
  background-color: #eee;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin: 50px auto 0;
  padding: 60px;
  width: 666px;

  h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
  }
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
  transform: scale(666);
}
